<!-- Featueres section -->

<div class="row justify-content-center text-center mt-lg-3">
    <div class="col-lg-4">
        <img class="d-block mx-auto mb-3" src="{{ `images/code-generation.png` | relURL }}" width="250" height="250" alt="Code Generation Image">
        <h2 class="h2">Context-Aware Code Generation <small class="d-none">🛡️</small></h2>
        <p>Have Generated examples and code snippets based on the content currently on-screen to give you a better understanding of what you are reading</p>
    </div>
    <div class="col-lg-4">
        <img class="d-block mx-auto mb-3" src="{{ `images/code-difficulty.png` | relURL }}" width="250" height="250" alt="Code Difficulty Image">
        <h2 class="h2">Language and Complexity Control <small class="d-none">🚀</small></h2>
        <p> Users can specify programming language and example difficulty level in order to ensure understanding of the information provided</p>
    </div>
    <div class="col-lg-4">
        <img class="d-block mx-auto mb-3" src="{{ `images/non-intrusive.png` | relURL }}" width="250" height="250" alt="Non-intrusive UI Image">
        <h2 class="h2">Non-Intrusive User Interface <small class="d-none">📈</small></h2>
        <p> Integrates seamlessly into existing documentation layouts without disrupting the reading experience.</p>
    </div>
</div>

<div class="row justify-content-center text-center mt-lg-3">
    <div class="col-lg-4">
        <h2 class="h2">Time Saving <small class="d-none">🦉</small></h2>
        <p>Reduces the time spent searching StackOverflow or GitHub for usable examples.</p>
    </div>
    <div class="col-lg-4">
        <h2 class="h2">Learning Oriented <small class="d-none">✨</small></h2>
        <p>Helps reinforce learning by showing practical implementations tailored to the readers' context</p>
    </div>
    <div class="col-lg-4">
        <h2 class="h2">Lightweight and Fast <small class="d-none">🧰</small></h2>
        <p>Minimal performance overhead ensures that documentation pages load quickly, without slowing down your browsing experience.</p>
    </div>
</div>

